.services {
  position: relative;
}

.services__bg {
  background-color: var(--color-gray--300);
}

.services__container {
  padding-top: 270px;
  padding-bottom: 80px;

  @include xl {
    padding-top: 240px;
  }

  @include lg {
    padding-top: 80px;
  }

  @include md {
    padding-top: 60px;
    padding-bottom: 50px;
  }
}

.services__list {
  @include list-reset;
  @include grid-12;

  margin-bottom: 80px;
  gap: var(--grid-gap);

  @include sm {
    grid-template-columns: inherit;
  }
}

.services__item {
  position: relative;
  grid-column: 3 span;
  border: 1px solid var(--color-gray--300);
  border-radius: var(--border-radius-main);
  padding: 70px 20px;
  box-shadow: var(--box-shadow-main);
  text-align: center;
  background-color: var(--color-white);
  transition: color ease-in-out 0.2s, background-color ease-in-out 0.2s;

  &-icon {
    @include box(52px);

    margin-bottom: 24px;
    fill: var(--color-primary);
    transition: fill ease-in-out 0.2s;
  }

  &-title {
    @include model-reset;
    @include font(20px, 30px);
  }

  &-link {
    &::before {
      @include pseudo;
      @include absolute(left 0 right 0 top 0 bottom 0);
    }
  }

  &:focus {
    outline: 2px solid var(--color-primary);
    outline-offset: 3px;
    border-radius: 2px;
    color: var(--color-white);
    background-color: f-alpha(var(--color-gray--900), 0.6);

    .services__item-icon {
      fill: var(--color-white);
    }

    &:not(:focus-visible) {
      outline: none;
    }
  }

  &:hover {
    color: var(--color-white);
    background-color: f-alpha(var(--color-gray--900), 0.6);

    .services__item-icon {
      fill: var(--color-white);
    }
  }

  @include lg {
    grid-column: 6 span;
  }
}

.services__item-bg {
  background-color: var(--color-gray--900);
}