.services-benefits__container {
  margin-bottom: 20px;
  padding-top: 80px;
  padding-bottom: 120px;
}

.services-benefits__btn {
  min-width: 390px;
  transform: translateY(90px);

  @include sm {
    min-width: 260px;
  }
}

.services-benefits__centered {
  margin-bottom: -52px;
}