.file-block {
  cursor: pointer;

  &__file {
    @include v-hidden;

    &:focus {
      +.file-block__text {
        outline: 2px solid var(--color-primary);
        outline-offset: 3px;
        border-radius: 2px;
      }

      &:not(:focus-visible) {
        +.file-block__text {
          outline: none;
        }
      }
    }

    &:hover {
      +.file-block__text {
        color: var(--color-primary);
      }
    }

    &:active {
      +.file-block__text {
        opacity: 0.4;
      }
    }
  }
}

.file-block__text {
  @include font(14px, 21px);

  position: relative;
  padding-left: 2em;
  color: var(--color-gray--800);

  &::before {
    @include pseudo;
    @include absolute(left 0 top 50%);
    @include icon-svg("file");
    @include box(24px);

    transform: translateY(-50%);
  }
}