.modal {
  @include fixed(left 0 top 0 right 0 bottom 0);

  z-index: 300;
  display: none;
  background-color: f-alpha(var(--color-black), 0.8);

  &--show {
    @include flex-center;
  }
}

.modal__wrapper {
  position: relative;
  border-radius: var(--border-radius-main);
  padding: 48px;
  width: 486px;
  box-shadow: var(--box-shadow-lg);
  background-color: var(--color-white);

  @media screen and (max-width: 420px) {
    padding: 48px 20px;
    width: 100%;
  }
}

.modal__close {
  position: absolute;
  right: 24px;
  top: 24px;
}