<header class="main-header @modify">
  <div class="main-header__container container">
    <a class="logo" href="index.html">
      <img src="images/logo.svg" loading="lazy" width="130" height="22" alt="Createx - logotype">
    </a>
    <nav class="main-header__nav main-nav">
      <button class="main-nav__btn-open btn-icon btn-icon--transparent btn-icon--burger" aria-label="Open site menu" data-open-menu></button>
      <div class="main-nav__wrapper">
        <button class="main-nav__btn-close btn-icon btn-icon--transparent btn-icon--close" aria-label="Closing site menu" data-close-menu></button>
        <div class="main-nav__wrapper">
          <ul class="nav-list">
            <li class="nav-list__item">
              <a href="about.html" class="nav-list__link">About Us</a>
            </li>
            <li class="nav-list__item">
              <a href="services.html" class="nav-list__link">Services</a>
            </li>
            <li class="nav-list__item">
              <a href="work.html" class="nav-list__link">Work</a>
            </li>
            <li class="nav-list__item">
              <a href="news.html" class="nav-list__link">News</a>
            </li>
            <li class="nav-list__item">
              <a href="contacts.html" class="nav-list__link">Contacts</a>
            </li>
          </ul>
          <div class="contacts-media contacts-media--nav">
            <ul class="contacts-media__list">
              <li class="contacts-media__item">
                <a class="contacts-media__link" href="tel:4055550128">
                  <svg class="contacts-media__icon" width="23" height="37">
                    <use xlink:href="images/sprite.svg#icon-phone"></use>
                  </svg>
                  <div class="contacts-media__text">
                    <span class="contacts-media__caption">Call us</span>
                    <span class="contacts-media__value">(405) 555-0128</span>
                  </div>
                </a>
              </li>
              <li class="contacts-media__item">
                <a class="contacts-media__link" href="mailto:hello@createx.com">
                  <svg class="contacts-media__icon" width="40" height="40">
                    <use xlink:href="images/sprite.svg#icon-chat"></use>
                  </svg>
                  <div class="contacts-media__text">
                    <span class="contacts-media__caption">Talk to us</span>
                    <span class="contacts-media__value">hello@createx.com</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <ul class="nav-list">
          <li class="nav-list__item">
            <a href="about.html" class="nav-list__link">About Us</a>
          </li>
          <li class="nav-list__item">
            <a href="services.html" class="nav-list__link">Services</a>
          </li>
          <li class="nav-list__item">
            <a href="work.html" class="nav-list__link">Work</a>
          </li>
          <li class="nav-list__item">
            <a href="news.html" class="nav-list__link">News</a>
          </li>
          <li class="nav-list__item">
            <a href="contacts.html" class="nav-list__link">Contacts</a>
          </li>
        </ul>
        <div class="contacts-media contacts-media--nav">
          <ul class="contacts-media__list">
            <li class="contacts-media__item">
              <a class="contacts-media__link" href="tel:4055550128">
                <svg class="contacts-media__icon" width="23" height="37">
                  <use xlink:href="images/sprite.svg#icon-phone"></use>
                </svg>
                <div class="contacts-media__text">
                  <span class="contacts-media__caption">Call us</span>
                  <span class="contacts-media__value">(405) 555-0128</span>
                </div>
              </a>
            </li>
            <li class="contacts-media__item">
              <a class="contacts-media__link" href="mailto:hello@createx.com">
                <svg class="contacts-media__icon" width="40" height="40">
                  <use xlink:href="images/sprite.svg#icon-chat"></use>
                </svg>
                <div class="contacts-media__text">
                  <span class="contacts-media__caption">Talk to us</span>
                  <span class="contacts-media__value">hello@createx.com</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <ul class="nav-list">
        <li class="nav-list__item">
          <a href="about.html" class="nav-list__link">About Us</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link nav-list__link--active">Services</a>
        </li>
        <li class="nav-list__item">
          <a href="work.html" class="nav-list__link">Work</a>
        </li>
        <li class="nav-list__item">
          <a href="news.html" class="nav-list__link">News</a>
        </li>
        <li class="nav-list__item">
          <a href="contacts.html" class="nav-list__link">Contacts</a>
        </li>
      </ul>
    </nav>
  <div class="contacts-media">
    <ul class="contacts-media__list">
      <li class="contacts-media__item">
        <a class="contacts-media__link" href="tel:4055550128">
          <svg class="contacts-media__icon" width="23" height="37">
            <use xlink:href="images/sprite.svg#icon-phone"></use>
          </svg>
          <div class="contacts-media__text">
            <span class="contacts-media__caption">Call us</span>
            <span class="contacts-media__value">(405) 555-0128</span>
          </div>
        </a>
      </li>
      <li class="contacts-media__item">
        <a class="contacts-media__link" href="mailto:hello@createx.com">
          <svg class="contacts-media__icon" width="40" height="40">
            <use xlink:href="images/sprite.svg#icon-chat"></use>
          </svg>
          <div class="contacts-media__text">
            <span class="contacts-media__caption">Talk to us</span>
            <span class="contacts-media__value">hello@createx.com</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
  </div>
</header>