<footer class="main-footer">
  <a class="to-top" href="#page" data-scroll>
    <span class="to-top__text">Go to top</span>
    <span class="to-top__icon">
      <svg width="24" height="24" aria-hidden="true">
        <use xlink:href="images/sprite.svg#icon-to-top"></use>
      </svg>
    </span>
  </a>
  <div class="main-footer__container container">
    <div class="main-footer__col main-footer__col--left">
      <div class="main-footer__col-item">
        <a class="main-footer__logo logo" href="index.html">
          <img src="images/logo-light.svg" loading="lazy" width="130" height="22" alt="Createx - logotype">
        </a>
        <ul class="main-footer__social-list social-list">
          <li class="social-list__item">
            <a class="social-list__link" href="https://whatsapp.com/" target="_blank" aria-label="WhatsApp">
              <svg class="social-list__icon" width="24" height="24" aria-hidden="true">
                <use xlink:href="images/sprite.svg#icon-whatsapp"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a class="social-list__link" href="https://messenger-messenger.com/" target="_blank" aria-label="Messenger">
              <svg class="social-list__icon" width="24" height="24" aria-hidden="true">
                <use xlink:href="images/sprite.svg#icon-messenger"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a class="social-list__link" href="https://www.facebook.com/" target="_blank" aria-label="Facebook">
              <svg class="social-list__icon" width="24" height="24" aria-hidden="true">
                <use xlink:href="images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a class="social-list__link" href="https://twitter.com/" target="_blank" aria-label="Twitter">
              <svg class="social-list__icon" width="24" height="24" aria-hidden="true">
                <use xlink:href="images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a class="social-list__link" href="https://youtube.com/" target="_blank" aria-label="YouTube">
              <svg class="social-list__icon" width="24" height="24" aria-hidden="true">
                <use xlink:href="images/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <p class="main-footer__desc">
        Createx Construction Bureau has been successfully operating in the USA construction market since 2000. We are
        proud to offer you quality construction and exemplary service. Our mission is to set the highest standards for
        construction sphere.
      </p>
    </div>
    <div class="main-footer__col main-footer__col--right">
      <form action="#" class="main-footer__form subscribe-form form" autocomplete="off">
        <h3 class="subscribe-form__caption">Let’s stay in touch</h3>
        <div class="subscribe-form__items">
          <label class="form__label">
            <span class="form__caption">Email</span>
            <input class="form__input field" type="email" name="email" placeholder="Your email address"
              aria-label="Enter your email" value="">
          </label>
          <button class="subscribe-form__btn-submit btn btn--small" type="submit">Subscribe</button>
        </div>
        <p class="subscribe-form__desc">
          *Subscribe to our newsletter to receive communications and early updates from Createx Construction Bureau.
        </p>
      </form>
    </div>
    <div class="main-footer__address-block address-block">
      <h3 class="address__title">Head office</h3>
      <address class="address-block__address">
        <span class="address-block__item">
          <span class="address-block__name">Address:</span>
          8502 Preston Rd. Inglewood, New York
        </span>
        <span class="address-block__item">
          <span class="address-block__name">Call:</span>
          <a class="address-block__link" href="tel:4055550128">(405) 555-0128</a>
        </span>
        <span class="address-block__item">
          <span class="address-block__name">Email:</span>
          <a class="address-block__link" href="mailto:hello@createx.com">hello@createx.com</a>
        </span>
      </address>
    </div>
    <nav class="main-footer__nav footer-nav">
      <div class="footer-nav__col">
        <h3 class="footer-nav__title">Who we are</h3>
        <ul class="footer-nav__list">
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="about.html">About Us</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="positions.html">Available Positions</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="contacts.html">Contacts</a>
          </li>
        </ul>
      </div>
      <div class="footer-nav__col">
        <h3 class="footer-nav__title">Our experience</h3>
        <ul class="footer-nav__list">
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="services.html">Services</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="work.html">Work</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="news.html">News</a>
          </li>
        </ul>
      </div>
    </nav>
    <small class="main-footer__copyright copyright">
      &copy; All rights reserved. Made with <span>by Createx Studio</span> 
    </small>
  </div>
</footer>